.btn {
  &-1 {
    position: relative;

    &:hover {
      &:after {
        background-image: url('../img/icon/cheveron-right-y.svg');
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: -5px;
      right: -30px;
      background-image: url('../img/icon/cheveron-right.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
