
//FONTS
$sans: 'Raleway', sans-serif;
$title: 'Raleway', sans-serif;

h1, h2, h3, h4, h5, h6 {
    clear: both;
    float: none;
    line-height: 1.25em;
    margin: 0;
}
h1, .h1 {
    font-size: 36px;
    font-family: $title;
    font-weight: 500;
    text-transform: uppercase;
}
h2, .h2 {
    font-size: 36px;
    font-family: $title;
    font-weight: 500;
}
h3, .h3 {
    font-size: 36px;
    font-family: $sans;
    font-weight: 100;
}
h4, .h4 {
    font-size: 14px;
    color: $grey;
    font-family: $title;
    font-weight: 500;
}
h5, .h5 {
    font-size: .7em;
    font-family: $sans;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h6, .h6 {
    font-size: .9em;
    font-family: $title;
}
p, i, strong {
  font-size: 14px;
  font-family: $sans;
  line-height: 28px;
}
blockquote {
    background-color: darken($base-body-color, 3%);
    font-style: italic;
    padding: 20px;
}
cite {
    font-style: italic;
}
strong, b {
    color: $primary-font-color;
    font-family: $title;
}
a {
  color: $link-color;
  text-decoration: underline;
  font-family: $sans;
  font-size: 14px;
  transition: all 200ms;

  &:hover {
    color: $brand2;
  }
}

li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: $sans;
}

ul {
  padding: 0;
}


form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: .9em;
  font-family: $sans;
  margin-bottom: 10px;
}
input, input::placeholder, textarea, textarea::placeholder {
  font-size: 16px;
  font-family: $sans;
  margin-bottom: 20px;
  // padding: 7px;
  line-height: 28px;
  font-weight: 100;
  text-transform: uppercase;
  color: $grey;
}

textarea, input, button { outline: none; }

textarea, input {
  border: 1px solid $grey;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

textarea:focus, input:focus {
  border: 1px solid $black;
}
