/* =Variables
-------------------------------------------------------------- */
$grey: #767676; //(Meta info and placeholder text)

$white: #FFFFFF; //(Header links / icons and search input)
$black: #333333; //(Content and in-form search icon)

$brand1: #CC4B00; //(Links)
$brand2: #FFC700; //(Navigation highlight)
$brand3: #006EF5; //(Branding)
$brand4: #013371; //(hover/focus in navigation)

$base-body-color: $white;
$icon-color: $black;
$primary-font-color: $black;
$link-color: $brand1;
