.btn {
  text-transform: uppercase;
  padding: 20px 30px;
  letter-spacing: 1.4px;
  transition: all 300ms;
  font-size: .8rem;
  line-height: 50px;
  &_1 {
    @extend .btn;
    color: $white;
    background-color: $brand;
    border: 1px solid $brand;
    font-weight: 100;
    &:hover {
      opacity: 0.8;
      color: $white;
      cursor: pointer;
    }
  }
}
