/* =Variables
-------------------------------------------------------------- */
$base-body-color: #fff;
$icon-color: #4D4E50;
$primary-font-color: #2a2a2a;
$link-color: #2a2a2a;

$grey-l: #edede8;
$grey: #9a9a9a;
$grey-d: #575757;

$white: #FFFFFF;
$black: #2a2a2a;

$brand: #222c36;
$brand1: #172ce7;
